<div class="container">
    <div class="title-section">
        <h2>Your Cart</h2>
        <button mat-button (click)="clearCart()" *ngIf="!isCartEmpty">Clear cart</button>
    </div>
    <div *ngIf="isCartEmpty" class="message-empty">
        <p>Your cart is empty. Start shopping now!</p>
    </div>
    <mat-table [dataSource]="tableDataSource" *ngIf="!isCartEmpty">
        <ng-container matColumnDef="image">
            <mat-header-cell *matHeaderCellDef> Image </mat-header-cell>
            <mat-cell *matCellDef="let cartItem">
                <img [src]="cartItem.food.image" [alt]="cartItem.food.label" width="50">
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="label">
            <mat-header-cell *matHeaderCellDef> Item </mat-header-cell>
            <mat-cell *matCellDef="let cartItem"> {{ cartItem.food.label }} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="quantity">
            <mat-header-cell *matHeaderCellDef> Quantity </mat-header-cell>
            <mat-cell *matCellDef="let cartItem"> {{ cartItem.quantity }} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="price">
            <mat-header-cell *matHeaderCellDef> Price </mat-header-cell>
            <mat-cell *matCellDef="let cartItem"> {{ cartItem.price | currency:'EUR' }} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="total">
            <mat-header-cell *matHeaderCellDef> Total </mat-header-cell>
            <mat-cell *matCellDef="let cartItem"> {{ cartItem.price * cartItem.quantity | currency:'EUR' }} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="remove">
            <mat-header-cell *matHeaderCellDef> Update cart </mat-header-cell>
            <mat-cell *matCellDef="let cartItem">
                <button mat-icon-button (click)="removeItem(cartItem.food.foodId)">
                    <mat-icon>remove</mat-icon>
                </button>
                <button mat-icon-button (click)="addItem(cartItem.food.foodId)">
                    <mat-icon>add</mat-icon>
                </button>
            </mat-cell>
        </ng-container> 
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <div class="cart-total" *ngIf="!isCartEmpty">
        <h3>Total Items: {{ totalItemsInCart }}</h3>
        <h3>Total Amount: {{ getTotalAmount() | currency:'EUR' }}</h3>
    </div>
</div>