<div class="container">
  <mat-toolbar color="primary" class="sticky-header">
    <span class="nav-items">
      <div class="nav-item" routerLink="/home" routerLinkActive="active">
        Home
      </div>
      <div class="nav-item empty">
        About us
      </div>
      <div class="nav-item" routerLink="/shop" routerLinkActive="active">
        Shop
      </div>
    </span>
    <span class="toolbar-logo">
      <img src="./assets/logoCC.jpg" alt="Cappuccino crate logo" />
    </span>
    <span class="nav-items">
      <div class="nav-item empty">
        Promotions
      </div>
      <div class="nav-item" routerLink="subscribe" routerLinkActive="active">
       Subscribe
      </div>
      <div class="nav-item empty">
        Contact us
      </div>
    </span>
  </mat-toolbar>
  <router-outlet></router-outlet>
  
</div>
