<div class="grid-container">
    <div class="grid-item">
        <img src="./assets/coffee_pour.jpg" alt="Cappuccino crate logo" />
    </div>
    <div class="grid-item">
        <div class="text-container">
            <h3>TREAT YOURSELF</h3>
            <p>Simply because you deserve it! Shop for your favorite kind of coffee and sip it together with our delicious pastries!</p>
            <button mat-button routerLink="/shop">
                Shop
            </button>
        </div>
    </div>
    <div class="grid-item">
        <img src="./assets/croissants.jpg" alt="Cappuccino crate logo" />
    </div>
    <div class="grid-item">
        <img src="./assets/coffee-cover-sun.jpg" alt="Cappuccino crate logo" />
    </div>
    <div class="grid-item">
        <img src="./assets/cinammon_bun.jpg" alt="Cappuccino crate logo" />
    </div>
    <div class="grid-item">
        <img src="./assets/flour_bread.jpg" alt="Cappuccino crate logo" />
    </div>
    <div class="grid-item">
        <div class="text-container">
            <h3>HANDMADE WITH LOVE</h3>
            <p>All our pastries and bread are made from sourdough by loving hands of our chefs, adding fresh local ingredients of season.</p>
            <button mat-button routerLink="/subscribe">
                Subscribe
            </button>
        </div>
    </div>
    <div class="grid-item">
        <img src="./assets/bread.jpg" alt="Cappuccino crate logo" />
    </div>
</div>