@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

html, body { 
    height: 100%; 
}

body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.mat-mdc-select-panel, ng-trigger {
    margin-top: -3rem !important;
    padding-left: 5rem !important;
    background-color: #fff !important;
    z-index: 5;
}
