<div class="container">
    <div class="cover">
        <div class="info-box">
            <div class="text-container">
                <h3>FRESHLY BREWED COFFEE AT YOUR DOORSTEP EVERY MORNING!</h3>
                <p>Locally sourced Artisan Baked Goods delivered!</p>
             </div>
             <div class="button-container">
                <button mat-button routerLink="/shop">
                  Shop
                </button>
                <button mat-button routerLink="/subscribe">
                    Subscribe
                </button>
             </div>
        </div>
    </div>
    <app-coffee></app-coffee>
</div>
